// outils primaires
@import "Styles/variables.scss";
@import "Styles/fonts.scss";

// El classico pour toutes la pages
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins";

    cursor: url("/svg/cursor.svg"), auto !important;
}

:root::-webkit-scrollbar {
    display: none;
}

::selection {
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

body {
    background-color: var(--primary-color);
}

a, button, input, textarea {
    text-decoration: none;
    color: inherit;

    &:hover, & *:hover {
        cursor: url("/svg/pointer.svg"), auto !important;
    }
}

.cliquable:hover {
    cursor: url("/svg/pointer.svg"), auto !important;
}

h1, h2, h3, p {
    color: var(--secondary-color);
}

// éléments publiques
@import "Styles/navbar.scss";
@import "Styles/footer.scss";

// chaque page
@import "Styles/accueil.scss";
@import "Styles/projets.scss";
@import "Styles/contact.scss";
@import "Styles/un-projet.scss";
