#accueil-body {

    overflow-x: hidden !important;

    &>header {
        margin: 10vw 0;
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &>div {

            h1 {
                font-size: var(--big-1);
                font-weight: var(--poppins-bold);
                -webkit-text-stroke: .2vw black;
                text-shadow: var(--text-shadow) black;
                margin-left: 5vw;
            }

            &>div {
                display: flex;
                align-items: start;

                &>img {
                    width: 15vw;
                }
            }
        }
    }

    &>div.who-am-i {
        display: flex;
        gap: 8vw;
        justify-content: center;
        align-items: center;

        width: 100vw;
        margin-bottom: 15vw;

        &>div.photo {
            position: relative;

            &>img {
                border: .3vw solid var(--accent-color);
                border-radius: 50%;
                width: 25vw;
            }

            &>div {
                position: absolute;
                top: 50%;
                left: 50%;
                height: 80%;
                width: 80%;

                border: .5vw var(--accent-color) ridge;

                transform: translate(-50%, -50%) rotate(25deg);
            }
        }

        &>div+div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5vw;

            &>hr {
                width: 80%;
                height: 0%;
                border: .1vw solid var(--secondary-color);
                border-radius: 10vw;
            }

            &>div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2.5vw;

                &>h1 {
                    font-size: var(--normal-1);
                    text-shadow: var(--text-shadow) black;
                }

                &>p {
                    font-size: var(--normal-2);
                    font-weight: var(--poppins-regular);
                    font-style: italic;
                    text-shadow: var(--text-shadow) rgba(black, .25);
                }
            }
        }
    }

    &>div.infinite-horizontal {
        height: 15vw;
        position: relative;

        &>div.wrapper {
            height: 100%;
            width: 200vw;

            display: flex;

            overflow-x: hidden;

            animation: moveSlideShow 9s infinite linear;

            &>div {
                width: 100vw;
                position: relative;

                &>a {
                    &>img {
                        position: absolute;
                        top: 10%;

                        transition: filter .2s;

                        &:hover {
                            filter: brightness(1.3);
                        }
                    }
                }
            }
        }
    }

    div.ambitions {
        display: flex;
        flex-direction: column;

        // Quand sur PC, dire que ça prend toute la hauteur pour rendre le scroll horizontal joli
        @media (min-width: 720px) {
            & {
                height: 100vh;
            }
        }

        // Sinon affichage en colonne classique sur téléphone, en mettant un gap avec le bouton
        @media (max-width: 720px) {
            & {
                gap: 10vw;
            }
        }

        padding: 10vw 0 0 0;

        div.horizontal-scroll {
            display: flex;
            flex-grow: 3;
            width: 300vw;

            // Changer l'affichage du 'horizontal scroll' quand sur téléphone
            @media (max-width: 720px) {
                & {
                    width: 100vw;
                    flex-direction: column !important;
                    gap: 10vw;
                }
            }

            article {
                width: 100vw;

                display: flex;
                gap: 5vw;

                padding: 0 15vw;

                // Changer l'affichage du 'horizontal scroll' quand sur téléphone
                @media (max-width: 720px) {
                    & {
                        flex-direction: column !important;
                    }
                }

                &>h1 {
                    font-size: var(--normal-1);
                    text-shadow: var(--text-shadow) black;

                    flex-basis: 80%;
                }

                &>p {
                    font-size: var(--normal-2);
                    text-shadow: var(--text-shadow) rgba(black, .5);

                    &>span {
                        font-weight: var(--poppins-bold);
                    }

                    &>a {
                        color: var(--accent-color);
                        transition: font-weight .1s ease-in;

                        &:hover {
                            font-weight: var(--poppins-semibold);
                        }
                    }
                }
            }
        }

        div.projects-button {
            flex-grow: 2;

            width: 100%;
            padding: 0 20vw;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 2.5vw;

            &>hr {
                width: 100%;
                height: 0;
                border: .05vw var(--secondary-color) solid;
                border-radius: 10vw;
            }

            &>button {
                flex-basis: 40%;
                width: 40%;

                border: none;
                border-radius: 1.5vw;

                background-color: var(--accent-color);
                box-shadow: var(--repos-effect);

                font-size: var(--normal-1);
                font-weight: var(--poppins-semibold);

                transition: transform .3s;

                &:hover {
                    box-shadow: var(--cliqued-effect);
                    transform: translate(-1px, 1px);
                }
            }
        }
    }

    &>div.transition-footer {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 5vw 0;

        &>img {
            width: 3vw;
        }
    }

    @keyframes moveSlideShow {
        to {
            transform: translateX(-50%);
        }
    }
}