#accueil-body {

    &>header {
        height: 120vh;
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &>div {

            h1 {
                font-size: var(--big-1);
                font-weight: var(--poppins-bold);
                -webkit-text-stroke: .2vh black;
                text-shadow: var(--text-shadow) black;
                margin-left: 10vh;
            }

            &>div {
                display: flex;
                align-items: start;

                &>h1 {
                    transform: translateY(-5vh);
                }
    
                &>img {
                    height: 30vh;
                }
            }
        }
    }

    &>div.who-am-i {
        display: flex;
        gap: 15vh;
        justify-content: center;
        align-items: center;

        width: 100vw;
        margin-bottom: 30vh;

        &>img {

            width: 45vh;
            
            border: 1vh solid var(--accent-color);
            border-radius: 50%;
        }

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10vh;

            &>hr {
                width: 80%;
                height: 0%;
                border: 1vh solid var(--secondary-color);
                border-radius: 10vh;
            }

            &>div {

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5vh;

                &>h1 {
                    font-size: var(--normal-1);
                    text-shadow: var(--text-shadow) black;
                }
                &>p {
                    font-size: var(--normal-2);
                    font-weight: var(--poppins-regular);
                    font-style: italic;
                    text-shadow: var(--text-shadow) rgba(black, .25);
                }
            }
        }
    }

    &>div.infinite-horizontal {
        width: 200vw;
        height: 50vh;
        position: relative;

        margin-bottom: 30vh;

        &>div.txt {
            color: var(--secondary-color);
            font-size: var(--small-1);
            font-weight: var(--poppins-semibold);

            position: absolute;
            top: 0;
            left: 5vh;

            transform-origin: bottom left;
            transform: translateY(-100%) rotate(-15deg);

            &>img {
                transform: translateY(70%);
                height: 5vh;
            }
        }

        &>div.wrapper {
            height: 100%;
            width: 200vw;

            display: flex;

            overflow-x: hidden;

            animation: moveSlideShow 9s infinite linear;

            &>div {
                width: 100vw;
                position: relative;

                &>a {
                    &>img {
                        position: absolute;
        
                        &:hover {
                            animation: squish .5s ease;
                        }
                    }    
                }
            }
        }
    }

    div.ambitions {
        display: flex;
        flex-direction: column;
        gap: 10vh;

        height: 80vh;

        div.horizontal-scroll {
            display: flex;
            width: 200vw;
    
            article {
                width: 100%;
    
                display: flex;
                gap: 20vh;
    
                padding: 0 30vh;
    
                &>h1 {
                    font-size: var(--normal-1);
                    text-shadow: var(--text-shadow) black;
    
                    flex-basis: 80%;
                }
    
                &>p {
                    font-size: var(--normal-2);
                    text-shadow: var(--text-shadow) rgba(black, .5);
                }
            }
        }

        div.projects-button {
            flex-grow: 2;

            width: 100%;
            padding: 0 35vh;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            &>hr {
                width: 100%;
                height: 0;
                border: .2vh var(--secondary-color) solid;
            }

            &>button {
                flex-basis: 40%;
                width: 40%;

                border: none;
                border-radius: 2.5vh;

                background-color: var(--accent-color);
                box-shadow: var(--repos-effect);

                font-size: var(--normal-1);
                font-weight: var(--poppins-semibold);

                transition: transform .3s;

                &:hover {
                    box-shadow: var(--cliqued-effect);
                    transform: translate(-1px, 1px);
                }
            }
        }
    }

    &>div.transition-footer {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10vh 0;

        &>img {
            width: 7vh;
        }
    }

    @keyframes squish {
        from, to { transform: scale(1, 1); }
        20% { transform: scale(0.9, 1.1); }
        40% { transform: scale(1.1, 0.9); }
        60% { transform: scale(0.9, 1.1); }
        80% { transform: scale(1.1, 0.9); }
    }

    @keyframes moveSlideShow {
        to {
            transform: translateX(-50%);
        }
    }
}