#contact-body {
    @media (max-width: 720px) {
        & {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
    }

    &>div.formulaire-mail {
        width: 100vw;

        @media (max-width: 720px) {
            & {
                flex-grow: 1;
            }
        }

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 2vw;

        margin-top: 10vw;
        padding: 0 10vw;

        &>div {
            display: flex;
            align-items: center;
            gap: 2vw;

            &>h1 {
                font-size: var(--normal-1);

                @media (max-width: 720px) {
                    & {
                        font-size: var(--big-2);
                    }
                }

                font-weight: var(--poppins-semibold);
                text-shadow: var(--text-shadow) black;
            }

            &>img {
                width: 3vw;
            }
        }

        &>form {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1vw;

            &>input,
            &>textarea,
            &>div>input {
                border-radius: 1vw;
                border: .3vw var(--accent-color) solid;

                box-shadow: inset -.2vw .2vw .5vw rgba(0, 0, 0, .25);

                background-color: var(--secondary-color);

                font-size: var(--small-1);

                @media (max-width: 720px) {
                    & {
                        font-size: var(--normal-1);
                    }
                }

                padding: .2vw 1vw;

                &::placeholder {
                    font-style: italic;
                    opacity: .6;
                }
            }

            &>#name {
                width: 40%;
            }

            &>#email {
                width: 55%;
            }

            &>textarea {
                padding-top: 1vw;

                height: 30vw;

                @media (max-width: 720px) {
                    & {
                        height: 50vw;
                    }
                }

                resize: none;
                font-size: var(--small-2);
            }

            &>div {
                width: 100%;

                display: flex;
                justify-content: flex-end;
                align-items: center;

                &>p {
                    flex-grow: 1;

                    text-align: center;
                    font-size: var(--normal-1);
                    font-weight: var(--poppins-bold);
                    color: var(--secondary-color);

                    animation: text-bounce ease .5s;
                }

                &>#envoyer {
                    background-color: var(--accent-color);
                    border: none;

                    @media (max-width: 720px) {
                        & {
                            font-size: var(--small-1);
                        }
                    }

                    flex-grow: 0;

                    box-shadow: var(--repos-effect);

                    padding: 1vw;

                    font-weight: var(--poppins-bold);
                    font-style: italic;

                    min-width: 15%;

                    align-self: flex-end;

                    transition: transform .3s;

                    &:hover {
                        transform: translate(-1px, 1px);
                        box-shadow: none;
                    }
                }
            }
        }
    }

    &>hr {
        @media (max-width: 720px) {
            & {
                display: none;
            }
        }

        height: 0;
        width: 50%;

        border: .5vw var(--secondary-color) solid;
        border-radius: .5vw 0 0 .5vw;

        transform: translateX(100%);
        transform-origin: right;

        margin: 5vw 0;
    }

    &>div.gardons-contact {
        @media (max-width: 720px) {
            & {
                display: none;
            }
        }

        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 10vw;
        padding: 0 10vw;

        &>div.titre {
            display: flex;
            align-items: center;
            gap: 1.5vw;

            &>h1 {
                font-size: var(--normal-1);
                font-weight: var(--poppins-semibold);
                text-shadow: var(--text-shadow) black;
            }

            &>img {
                width: 3vw;
            }
        }

        &>div.gradation {
            display: flex;
            flex-direction: column;
            gap: 30vw;

            &>p {
                text-shadow: var(--text-shadow) rgba(black, .5);

                &.typing {
                    height: 10vw;
                }

                &:nth-of-type(1) {
                    font-size: var(--normal-1);
                    font-weight: var(--poppins-semibold);
                    align-self: flex-end;
                }

                &:nth-of-type(2) {
                    font-size: var(--normal-1);
                    font-weight: var(--poppins-semibold);
                    transform: rotate(-5deg);
                }

                &:nth-of-type(3) {
                    font-size: var(--big-3);
                    font-weight: var(--poppins-bold);
                    transform: rotate(5deg);
                    align-self: flex-end;
                }

                &:nth-of-type(4) {
                    font-size: var(--big-3);
                    font-weight: var(--poppins-bold);
                    transform: rotate(-10deg);
                }

                &:nth-of-type(5) {
                    font-size: var(--big-2);
                    font-weight: var(--poppins-bold);
                    align-self: flex-end;
                    text-shadow: var(--text-shadow) rgba(black, .75);
                }

                &:nth-of-type(6) {
                    font-size: calc(var(--big-1)*.85);
                    font-weight: var(--poppins-bold);
                    text-shadow: var(--text-shadow) black;
                    font-style: italic;
                    transform: rotate(-15deg);
                    -webkit-text-stroke: .25vw black;
                    align-self: center;

                    &>span {
                        color: var(--accent-color);
                    }
                }
            }
        }

        &>div.reseaux {
            margin-top: 10vw;
            margin-bottom: 10vw;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.5vw;

            &>img {
                width: 5vw;
            }

            &>div.logos {
                align-self: center;
                display: flex;
                gap: 8vw;

                &>a {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 6.5vw;
                    width: 6.5vw;

                    background-color: var(--accent-color);

                    box-shadow: var(--repos-effect);

                    border-radius: 2vw;
                    border: .1vw solid black;

                    padding: 1vw;

                    transform: rotate(-45deg);

                    transition: transform .3s;

                    &:hover {
                        box-shadow: var(--cliqued-effect);
                        transform: translateY(1px) rotate(-45deg);
                    }

                    &>img {
                        transform: rotate(45deg);
                        height: 100%;
                    }
                }
            }
        }

    }

    &>div.transition-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-left: 5vw;
        margin-bottom: 10vw;

        &>h1 {
            font-size: var(--big-3);
            font-style: italic;
            font-weight: var(--poppins-bold);

            flex-grow: 0;

            text-shadow: var(--text-shadow) rgba(black, .5);
        }

        &>img {
            flex: 0 0;
            height: 4vw;
        }

        &>hr {
            flex-basis: 40%;

            height: 0;
            border: var(--secondary-color) .5vw solid;
            border-radius: .5vw 0 0 .5vw;
        }
    }

    @keyframes text-bounce {
        from {
            transform: scale(0);
        }

        70% {
            transform: scale(1.2);
        }

        90% {
            transform: scale(.9);
        }

        to {
            transform: scale(1);
        }
    }
}