#contact-body {
    @media (max-width: 720px) {
        & {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
    }

    &>div.formulaire-mail {
        width: 100vw;

        @media (max-width: 720px) {
            & {
                flex-grow: 1;
            }
        }

        margin: 10vw 0;
        padding: 0 10vw;

        &>div {
            display: flex;
            align-items: center;
            gap: 2vw;

            &>h1 {
                font-size: var(--normal-1);

                @media (max-width: 720px) {
                    & {
                        font-size: var(--big-2);
                    }
                }

                font-weight: var(--poppins-semibold);
                text-shadow: var(--text-shadow) black;
            }

            &>img {
                width: 3vw;
            }
        }

        &>form {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1vw;

            &>input,
            &>textarea,
            &>div>input {
                border-radius: .5vw;

                font-size: var(--small-1);

                @media (max-width: 720px) {
                    & {
                        font-size: var(--normal-1);
                    }
                }

                padding: .2vw 1vw;

                &::placeholder {
                    font-style: italic;
                    opacity: .6;
                }
            }

            &>div.header-inputs {

                &>input {
                    width: 100%;
                }

                display: flex;
                align-items: center;
                gap: 1vw;
            }

            &>textarea {
                padding-top: 1vw;

                height: 30vw;

                @media (max-width: 720px) {
                    & {
                        height: 50vw;
                    }
                }

                resize: none;
                font-size: var(--small-1);
            }

            &>div.result-div {
                width: 100%;

                display: flex;
                justify-content: flex-end;
                align-items: center;

                &>p {
                    flex-grow: 1;

                    text-align: center;
                    font-size: var(--normal-1);
                    font-weight: var(--poppins-bold);
                    color: white;
                    -webkit-text-stroke: .05vw black;
                }

                &>#envoyer {
                    background-color: white;
                    border: none;

                    @media (max-width: 720px) {
                        & {
                            font-size: var(--small-1);
                        }
                    }

                    flex-grow: 0;

                    box-shadow: var(--repos-effect);

                    padding: 1vw;

                    font-weight: var(--poppins-bold);
                    font-style: italic;

                    min-width: 15%;

                    align-self: flex-end;

                    transition: transform .3s;

                    &:hover {
                        transform: translate(-1px, 1px);
                        background-color: var(--accent-color);
                        box-shadow: none;
                    }
                }
            }
        }
    }

    &>div.gardons-contact {
        @media (max-width: 720px) {
            & {
                display: none;
            }
        }

        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 10vw;
        padding: 0 10vw;

        &>div.gradation {
            display: flex;
            flex-direction: column;
            gap: 30vw;
            margin-bottom: 15vw;

            &>p {
                color: white;
                -webkit-text-stroke: .05vw black;

                &.typing {
                    height: 10vw;
                }

                &:nth-of-type(1) {
                    font-size: var(--normal-1);
                    font-weight: var(--poppins-semibold);
                    align-self: flex-end;
                }

                &:nth-of-type(2) {
                    font-size: var(--normal-1);
                    font-weight: var(--poppins-semibold);
                    transform: rotate(-5deg);
                }

                &:nth-of-type(3) {
                    font-size: var(--big-3);
                    font-weight: var(--poppins-bold);
                    transform: rotate(5deg);
                    align-self: flex-end;
                }

                &:nth-of-type(4) {
                    font-size: var(--big-3);
                    font-weight: var(--poppins-bold);
                    transform: rotate(-10deg);
                }

                &:nth-of-type(5) {
                    font-size: var(--big-2);
                    font-weight: var(--poppins-bold);
                    align-self: flex-end;
                    text-shadow: var(--text-shadow) rgba(black, .75);
                }

                &:nth-of-type(6) {
                    font-size: calc(var(--big-1)*.85);
                    font-weight: var(--poppins-bold);
                    text-shadow: var(--text-shadow) black;
                    font-style: italic;
                    transform: rotate(-15deg);
                    -webkit-text-stroke: .25vw black;
                    align-self: center;

                    &>span {
                        color: var(--accent-color);
                    }
                }
            }
        }
    }
    
    @keyframes text-bounce {
        from {
            transform: scale(0);
        }

        70% {
            transform: scale(1.2);
        }

        90% {
            transform: scale(.9);
        }

        to {
            transform: scale(1);
        }
    }
}