#contact-body {

    &>div.formulaire-mail {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        gap: 10vh;

        padding: 30vh 20vh;
        padding-bottom: 10vh;

        &>div {
            display: flex;
            align-items: center;
            gap: 3vh;

            &>h1 {
                font-size: var(--normal-1);
                font-weight: var(--poppins-semibold);
                text-shadow: var(--text-shadow) black;
            }

            &>img {
                width: 6vh;
            }
        }

        &>form {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5vh;

            &>input, &>textarea {
                border-radius: 2vh;
                border: .75vh var(--accent-color) solid;
                
                background-color: var(--secondary-color);

                font-size: var(--normal-2);

                padding: .2vh 5vh;

                &::placeholder {
                    font-style: italic;
                    opacity: .6;
                }
            }

            &>#name {
                width: 40%;
            }

            &>#email {
                width: 55%;
            }

            &>textarea {
                height: 60vh;
                padding: 3vh;
                resize: none;

                font-size: var(--small-1);
            }

            &>#envoyer {
                background-color: var(--accent-color);
                border: none;

                box-shadow: var(--repos-effect);

                margin-top: 5vh;
                padding: 4vh;

                font-weight: var(--poppins-bold);
                font-style: italic;

                width: 30%;

                align-self: flex-end;
                
                transition: transform .3s;

                &:hover {
                    transform: translate(-1px, 1px);
                    box-shadow: none;
                }
            }
        }
    }

}