body {
    &>footer {
        width: 100vw;

        display: flex;
        justify-content: space-around;

        margin-top: 3rem;
        margin-bottom: 3rem;

        &>article {
            display: flex;
            flex-direction: column;
            gap: 2.5vw;

            &>h1 {
                font-weight: var(--poppins-bold);
                font-size: var(--normal-2);

                @media (max-width: 720px) {
                    font-size: var(--small-1);
                }
            }

            &>p {
                font-size: 1.5rem;
                line-height: 250%;

                @media (max-width: 720px) {
                    font-size: var(--small-2);
                }

                &>a {
                    transition: font-weight .1s;
                }

                &>a:hover {
                    font-weight: var(--poppins-semibold);
                    color: var(--accent-color);
                }
            }
        }
    }
}