body {
    &>#logo-txt {
        position: absolute;
        left: .5rem;
        top: .5rem;
        width: 15vw;

        @media (max-width: 720px) {
            display: none;
        }
    }

    &>nav {
        z-index: 3;

        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;

        display: flex;
        justify-content: center;

        &>ul {
            list-style-type: none;
            display: flex;

            // @media (max-width: 720px) {
            //     transform: translateX(-15%);
            // }

            &>li {
                font-weight: var(--poppins-semibold);
                font-size: var(--normal-2);
                text-align: center;

                border: var(--classic-border);

                background-color: var(--secondary-color);

                box-shadow: var(--repos-effect);

                transition: transform .3s;

                &>a {
                    display: inline-block;
                    padding: .5vw 0;
                    width: 11vw;

                    @media (max-width: 720px) {
                        & {
                            width: 20vw;
                        }
                    }
                }
            }

            &>li:nth-of-type(1) {
                z-index: 5;
                border-radius: 5vw 0 0 5vw;
            }

            &>li:nth-of-type(2) {
                z-index: 4;
            }

            &>li:nth-of-type(3) {
                border-radius: 0 5vw 5vw 0;
            }

            &>li:hover {
                box-shadow: var(--cliqued-effect);
                background-color: var(--accent-color);
                transform: translate(-1px, 1px);
            }
        }

        &>a {
            position: absolute;
            right: 0;
            top: 0;

            @media (max-width: 720px) {
                & {
                    right: 3vw;
                    top: 3vw;
                }
            }

            height: 15vw;
            width: 50vw;
            padding-bottom: .5vw;

            font-size: var(--normal-2);
            font-weight: var(--poppins-bold);

            background-color: var(--secondary-color);
            border-bottom: var(--classic-border);

            display: flex;
            justify-content: center;
            align-items: end;

            transform: translate(50%, -50%) rotate(45deg);

            transition: right .2s ease,
            top .2s ease;

            &:hover {
                right: 1vw;
                top: 1vw;
                background-color: var(--accent-color);
                box-shadow: var(--cliqued-effect);
            }
        }
    }
}