#projets-body {

    &>header {
        width: 100vw;

        margin-top: 10vw;
        margin-bottom: 5vw;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0 5vw;

        &>div.swiper {
            padding: 5vw 0;

            &>div.swiper-wrapper {

                &>div.swiper-slide {
                    padding: 0 5vw;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5vw;

                    @media (max-width: 720px) {
                        & {
                            padding: 0 10vw;
                        }
                    }

                    // Certificate
                    &>div {
                        position: relative;

                        &>img {
                            width: 30vw;
                            animation: full-turn infinite linear 15s, shining infinite cubic-bezier(0, -0.15, .49, 1.32) 3s;
                        }

                        &>a {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            text-align: center;
                            transform: translate(-50%, -50%);

                            width: 28vw;

                            &.square {
                                width: 23vw;
                            }

                            transition: filter .2s;

                            &:hover {
                                filter: brightness(.5);
                            }

                            &>img {
                                height: 100%;
                                width: 100%;

                                border-radius: 1vw;
                            }
                        }
                    }

                    &>article {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        flex-grow: 1;
                        gap: 2.5vw;

                        &>h1 {
                            font-size: var(--normal-1);
                        }

                        &>p {
                            font-size: var(--small-1);

                            &>span {
                                font-weight: var(--poppins-bold);
                            }
                        }
                    }
                }
            }

            div.swiper-button-prev,
            div.swiper-button-next {
                &::after {
                    font-size: 4vw;
                    color: var(--secondary-color);
                }

                &:hover {
                    &::after {
                        color: var(--accent-color);
                        text-shadow: none;
                        transform: translate(-1px, 1px);
                    }
                }
            }
        }
    }

    &>div.liste-projets {
        display: flex;
        flex-direction: column;
        gap: 2.5vw;

        margin-bottom: 4vw;

        &>a {
            width: 85%;

            font-size: var(--big-3);

            font-weight: var(--poppins-bold);
            color: var(--primary-color);
            -webkit-text-stroke: .1vw black;

            background-color: white;

            border: var(--accent-color) .25vw solid;
            border-left: none;
            border-radius: 0 2.5vw 2.5vw 0;

            padding: 0 2.5vw;
            box-shadow: var(--cliqued-effect);

            transition: box-shadow .7s, width .7s;

            &>span {
                font-style: italic;
            }

            &:hover {
                box-shadow: inset 100vw 0 rgba($color: #F5C07B, $alpha: 1.0);
                width: 87%;
            }

            &:last-of-type {
                border-color: var(--bonus-color);

                &:hover {
                    box-shadow: inset 100vw 0 var(--bonus-color);
                }
            }

        }
    }

    &>div.transition-footer,
    &>div.transition-liste {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 0 0 5vw 5vw;

        &>h1 {
            font-size: var(--big-3);
            font-weight: var(--poppins-bold);
            color: white;
            -webkit-text-stroke: .1vw black;

            flex-grow: 0;
        }

        &>img {
            flex: 0 0;
            height: 4vw;
        }

        &>hr {
            flex-basis: 40%;

            height: 0;
            border: white .5vw solid;
            border-radius: .5vw 0 0 .5vw;
        }
    }

    @keyframes full-turn {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes shining {
        from {
            filter: drop-shadow(0 0 .5vw rgba(#F5C07B, .8));
        }

        50% {
            filter: drop-shadow(0 0 2.5vw rgba(#F5C07B, 1));
        }

        to {
            filter: drop-shadow(0 0 .5vw rgba(#F5C07B, .8));
        }
    }
}