#projets-body {

    &>header {
        border-end-end-radius: 15px black solid;
        width: 100vw;
        height: 115vh;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0 10vh;

        &>div.swiper {

            height: 75%;

            &>div.swiper-wrapper {

                &>div.swiper-slide {
                    width: 100%;
                    height: 100%;

                    padding: 0 10vh;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20vh;

                    &>div {
                        position: relative;

                        &>svg {
                            height: 70vh;

                            animation: full-turn infinite linear 15s;
                        }
                        
                        &>img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            width: 65vh;
                            height: 36.5625vh;
    
                            border-radius: 2vh;
                            border: .5vh black solid;

                        }
                    }

                    &>article {
                        height: 100%;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10vh;

                        &>h1 {
                            font-size: var(--normal-1);
                            text-shadow: var(--text-shadow) black;
                        }

                        &>p {
                            font-size: var(--small-1);
                            text-shadow: var(--text-shadow) rgba(black, .5);
                        }
                    }
                }
            }

            div.swiper-button-prev, div.swiper-button-next {
                &::after {
                    font-size: 10vh;
                    color: var(--secondary-color);
                    text-shadow: var(--text-shadow) black;

                    transition: transform .3s, text-shadow .2s;
                }

                &:hover {
                    &::after {
                        color: var(--accent-color);
                        text-shadow: none;
                        transform: translate(-1px, 1px)
                    };
                }
            }
        }
    }

    &>hr {
        position: relative;
        transform: translateX(100%);

        height: 0;
        width: 50%;
        
        border: var(--secondary-color) 1vh solid;
        border-radius: 1vh 0 0 1vh;

        margin: 20vh 0;
    }

    &>div.liste-projets {
        display: flex;
        flex-direction: column;
        gap: 5vh;

        margin: 20vh 0;

        &>a {
            width: 85%;

            font-size: var(--big-2);
            font-weight: var(--poppins-bold);
            color: var(--primary-color);
            -webkit-text-stroke: .2vh black;

            background-color: var(--secondary-color);

            border: var(--accent-color) .5vh solid;
            border-left: none;
            border-radius: 0 5vh 5vh 0;

            padding: 0 5vh;

            box-shadow: var(--cliqued-effect);

            transition: box-shadow .7s, width .7s;

            &>span {
                font-size: var(--normal-2);
                font-style: italic;
            }

            &:hover {
                box-shadow: inset 100vw 0 rgba($color: #FFB858, $alpha: 1.0);
                width: 87%;
            }

            &:last-of-type {
                border-color: var(--bonus-color);

                &:hover {
                    box-shadow: inset 100vw 0 var(--bonus-color);
                }
            }
            
        }
    }

    &>div.transition-footer {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-left: 20vh;
        margin-bottom: 20vh;

        &>h1 {
            font-size: var(--big-2);
            font-style: italic;
            font-weight: var(--poppins-bold);

            flex-grow: 0;

            text-shadow: var(--text-shadow) rgba(black, .5);
        }

        &>img {
            flex: 0 0;
            height: 10vh;
        }

        &>hr {
            flex-basis: 60%;

            height: 0;
            border: var(--secondary-color) 1vh solid;
            border-radius: 1vh 0 0 1vh;
        }
    }

    @keyframes full-turn {
        to {
            transform: rotate(360deg);
        }
    }
}