#un-projet-body {

    &>div.nav-bottom {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: end;

        &>div.prev,
        &>div.next {
            background-color: white;

            font-size: var(--normal-2);

            padding: .5rem;

            border-radius: 10vw 10vw 0 0;
            border: .15vw black solid;

            display: flex;
            justify-content: center;
            align-items: center;

            box-shadow: var(--repos-effect);

            transition: transform .3s;

            &:hover {
                box-shadow: var(--cliqued-effect);
                transform: translate(-1px, 1px);
                background-color: var(--accent-color);
            }
        }

        &>div.current {
            background-color: var(--accent-color);

            padding: 3rem;

            @media (max-width: 720px) {
                padding: 1.25rem;
            }

            font-size: var(--normal-2);

            border-radius: 50% 50% 0 0;
            border: .15vw black solid;

            box-shadow: var(--cliqued-effect);

            z-index: 5;
        }
    }

    &>header {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 2vw;

        padding: 7vw 7.5vw 0;

        &>div.nom-projet {
            position: relative;

            &>div.wave-effect {
                height: 20vw;

                &>h1 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    font-size: 5vw !important;
                    font-weight: var(--poppins-bold);

                    &:nth-child(1) {
                        -webkit-text-stroke: .25vw var(--accent-color);
                    }

                    &:nth-child(2) {
                        color: var(--accent-color);
                        animation: wavying 4s ease-in-out infinite;
                    }

                    @keyframes wavying {

                        0%,
                        100% {
                            clip-path: polygon(0% 45%,
                                16% 44%,
                                33% 50%,
                                54% 60%,
                                70% 61%,
                                84% 59%,
                                100% 52%,
                                100% 100%,
                                0% 100%);
                        }

                        50% {
                            clip-path: polygon(0% 60%,
                                    15% 65%,
                                    34% 66%,
                                    51% 62%,
                                    67% 50%,
                                    84% 45%,
                                    100% 46%,
                                    100% 100%,
                                    0% 100%);
                        }
                    }
                }
            }

            &>h1 {
                font-size: var(--big-2);
                font-weight: var(--poppins-bold);
                text-shadow: var(--text-shadow) black;
                -webkit-text-stroke: .1vw black;
                color: white;
                text-align: center;
            }
        }

        &>div.competence {
            display: none;
            text-align: center;
            opacity: 1;
            font-size: .75vw;

            // animation: balance .75s ease-out;

            span {
                animation: lighten 1s 1s ease-out;
                animation-fill-mode: forwards;
            }
        }

        @keyframes balance {
            from {
                transform: rotateX(0deg);
            }

            25% {
                transform: rotateX(180deg);
            }

            50% {
                transform: rotateX(90deg);
            }

            to {
                transform: rotateX(0deg);
            }
        }

        @keyframes lighten {
            to {
                font-weight: var(--poppins-bold);
                text-shadow: var(--text-shadow) rgba(black, .5);
            }
        }

        &>div.description-projet {
            display: flex;
            flex-direction: column;
            gap: 1vw;

            &>h2 {
                color: white;
                -webkit-text-stroke: .1vw black;
                font-size: var(--normal-1);
            }

            &>p {
                font-size: var(--normal-2);

                &>span {
                    font-weight: var(--poppins-semibold);

                    &.i {
                        font-style: italic;
                    }
                }

                &>a {
                    color: var(--accent-color);

                    transition: font-weight .1s;

                    &:hover {
                        font-weight: var(--poppins-semibold);
                    }
                }
            }
        }

        &>div.equipe {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;

            &>div.card {
                padding: 1vw 2vw 2vw;
                display: flex;
                gap: 1vw;
                align-items: center;

                &>div.card-name {
                    font-size: var(--normal-2);
                    font-weight: var(--poppins-semibold);
                    color: #333;
                }

                &>img {
                    width: 5vw;
                    height: 5vw;
                    border-radius: 50%;
                    object-fit: contain;
                    border: 1px solid black;
                }
            }
        }
    }

    &>section.etapes {
        margin-bottom: 5vw;

        &>div.trait {
            display: flex;
            align-items: center;
            margin: 2.5vw 0;

            &>hr {
                flex-basis: 65%;
                height: 0;

                border: .3vw white solid;
                border-radius: 0 .5vw .5vw 0;
            }

            &>h1 {
                color: white;
                -webkit-text-stroke: .1vw black;
                font-size: var(--normal-1);
                text-align: center;

                flex-grow: 1;

                &>img {
                    width: 2.5vw;
                    transform: translate(75%, 15%);
                }
            }
        }

        &>div.liste-etapes {
            padding: 0 5vw;
            width: 100%;
            display: flex;
            gap: 1rem;

            &>a>div.swiper {
                border: .2vw black solid;
                border-radius: 1vw;

                width: 32vw;
                height: 32vw;
                margin-right: 5vw;

                &>div.swiper-wrapper {
                    &>div.swiper-slide {
                        &>img {
                            width: 100%;
                            height: 100%;

                            border-radius: 1vw;
                            object-fit: cover;

                            // border-radius: 50%;
                            // shape-outside: circle(50%);

                            transition: filter .2s, box-shadow .2s;

                            &:hover {
                                filter: brightness(.5);
                            }
                        }
                    }

                    &>div.swiper-slide.contain {
                        &>img {
                            object-fit: contain;
                        }
                    }
                }
            }

            &>div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                &>p {
                    font-size: var(--normal-2);
                }
            }
        }

        &>div.technos {
            clear: left;
            width: 100%;
            margin-top: 5vw;

            &>h1 {
                color: white;
                -webkit-text-stroke: .1vw black;
                font-size: var(--normal-1);

                padding-left: 5vw;

                &>span {
                    font-size: var(--small-2);
                    font-weight: var(--poppins-regular);
                }
            }

            &>div.wrapper {
                margin-top: 1rem;

                width: 200vw;

                display: flex;
                overflow-x: hidden;

                animation: moveSlideShow 9s infinite linear;

                &>div {
                    width: 100vw;
                    position: relative;
                    display: flex;
                    justify-content: space-around;

                    &>a {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &>img {
                            transition: filter .2s;
                            max-height: 5vw;

                            &:hover {
                                filter: brightness(1.3);
                            }
                        }
                    }
                }
            }
        }
    }

    &>section.acquis {
        &>div.trait {
            display: flex;
            align-items: center;

            margin: 2.5vw 0;

            &>hr {
                flex-basis: 65%;
                height: 0;

                border: .3vw white solid;
                border-radius: .5vw 0 0 .5vw;
            }

            &>h1 {
                font-size: var(--normal-1);
                text-align: center;
                color: white;
                -webkit-text-stroke: .1vw black;

                flex-grow: 1;

                &>img {
                    width: 2.5vw;
                    transform: translate(75%, 15%);
                }
            }
        }

        &>div.liste-acquis {
            width: 100%;

            display: flex;
            flex-direction: column;
            padding: 0 7.5vw;
            gap: 2.5vw;

            &>p {
                font-size: var(--normal-2);

                &>span {
                    font-weight: var(--poppins-semibold);
                }
            }
        }
    }

    &>hr {
        height: 0;
        width: 80vw;
        transform: translateX(10vw);

        border: .1vw var(--secondary-color) solid;
        border-radius: .5vw;
    }

    &>img.transition-footer {
        width: 0vw;
        transform: translateX(46vw);

        margin: 2.5vw 0;
    }
}