:root {
    --primary-color: #DE8484;
    --secondary-color: #FFFFFF;
    --accent-color: #F5C07B;
    --bonus-color: #26D8F0;
    --color-tertiary: #25D1E7;
    --color-quaternary: #20B2C5;
    --color-quinary: #1A93A3;

    --big-1: 12rem;
    --big-2: 6rem;
    --big-3: 5rem;
    --normal-1: 4rem;
    --normal-2: 2.5rem;
    --small-1: 2rem;
    --small-2: 1.5rem;

    // Petite police pour les téléphones
    @media (max-width: 720px) {
        --big-1: 2.5rem;
        --big-2: 2rem;
        --big-3: 1.25rem;
        --normal-1: 1.25rem;
        --normal-2: 1rem;
        --small-1: .75rem;
        --small-2: .5rem;
    }

    --text-shadow: 0 .25vw .25vw;

    --poppins-thin: 100;
    --poppins-extralight: 200;
    --poppins-light: 300;
    --poppins-regular: 400;
    --poppins-medium: 500;
    --poppins-semibold: 600;
    --poppins-bold: 700;
    --poppins-extrabold: 800;

    --repos-effect: -.25vw .3vw .2vw rgba(0, 0, 0, .25);
    --cliqued-effect: inset var(--repos-effect);

    --classic-border: .2vw black solid;
}