:root {
    --primary-color : #E15C50;
    --secondary-color: #F5EBDC;
    --accent-color  : #FFB858;
    --bonus-color   : #26D8F0;
    --color-tertiary: #25D1E7;
    --color-quaternary: #20B2C5;
    --color-quinary: #1A93A3;

    --big-1: 10vw;
    --big-2: 5vw;
    --big-3: 4vw;
    --normal-1: 3.25vw;
    --normal-2: 2vw;
    --small-1: 1.5vw;
    --small-2: 1vw;
    --text-shadow: 0 .25vw .25vw;

    --poppins-thin: 100;
    --poppins-extralight: 200;
    --poppins-light: 300;
    --poppins-regular: 400;
    --poppins-medium: 500;
    --poppins-semibold: 600;      
    --poppins-bold: 700;
    --poppins-extrabold: 800;

    --repos-effect: -.25vw .3vw .2vw rgba(0, 0, 0, .25);
    --cliqued-effect: inset var(--repos-effect);

    --classic-border: .2vw black solid;
}